@font-face {font-family: "iconfont";
	  src: url('https://at.alicdn.com/t/font_1747320_olxmuo7dnb.ttf') format('truetype');
	}
	
	.iconfont {
	  font-family: "iconfont" !important;
	  font-size: 16px;
	  font-style: normal;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	.icon-task:before {
	  content: "\e668";
	}
	.icon-tianjia1:before {
	  content: "\e607";
	}
	.icon-naozhong-copy:before {
	  content: "\e62c";
	}
	
	.icon-anniu:before {
	  content: "\e642";
	}
	
	.icon-shanchu1:before {
	  content: "\e6c7";
	}
	.icon-zanting1:before {
	  content: "\e693";
	}
	
	.icon-wancheng1:before {
	  content: "\e647";
	}
	
	.icon-kaishi1:before {
	  content: "\e74f";
	}
	.icon-xiala1:before {
	  content: "\e656";
	}
	
	.icon-shanchu:before {
	  content: "\e643";
	}
	
	.icon-tianjia:before {
	  content: "\e613";
	}
	
	.icon-tianjianaozhong:before {
	  content: "\e6cd";
	}